<div class="row">
    <h1>Inicio de Sesión</h1>
    {{#if loginFailed}}
        <div id="error_msg" class="alert alert-danger">
            Nombre de Usuario o Contrase&ntilde;a Invalidos.
        </div>
    {{/if}}
    {{#if isSlowConnection}}
        <div id="info_msg" class="alert alert-info">
            Espera porfavor el envio de los datos se esta demorando un poco.
        </div>
    {{/if}}
    <form {{action 'login' on='submit'}}
                class="form-horizontal form-group"
                method="post"
                accept-charset="utf-8"
                id="loginForm"
                role="form">
        <div class="col-xs-6">
            {{input type="text" id="user_name"
                placeholder="Usuario o Correo"
                value=username
                class="form-control col-xs-3"}}
            {{input type="password" id="user_password"
                placeholder="Contrase&ntilde;a"
                value=password
                class="form-control col-xs-3"}}
            <button id="login_btn"
                            class="submit btn btn-primary"
                            {{bind-attr disabled="isProcessing"}}
                            type="submit">Aceptar</button>
        </div>
    </form>
</div>