<div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary"
          {{action "addProduct"}}>Agregar Producto</button>
      <button class="btn btn-primary"
          {{action "showProducts"}}>Ver Productos</button>
    </div>
</div>