<p class="lead">Buscar Por</p>
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"> Populares </a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                  Populares ...
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Nuevos
                   </a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                  Nuevos ...
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      Ubicación
                   </a>
              </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                  {{#each locations}}
                      <p>{{this}}</p>
                  {{/each}}
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                      Categorias
                   </a>
              </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                  {{#each categories}}
                      <p>{{this}}</p>
                  {{/each}}
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                      Precios
                   </a>
              </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                  Precios ...
              </div>
          </div>
      </div>
  </div>